@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  max-width: 100vw;
  overflow-x: hidden;
}

.hero_image {
  background-image: url(/public/assets/hero_image.jpeg);
}

.step-primary::after{
  transition: all 0.4s ease-in-out !important;
}



.step-primary::before {
  transition: all 0.4s ease-in-out !important;
}
